.login-header-wrap{
    header{
        max-width: 1600px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 115px;
        padding: 0 141px 0 79px;
        .left{
            display: flex;
            .logo{
                display: block;
                margin: -9px 0 0;
                width: 236px;
                height: 27px;
                background: url("../../images/logo-header.png") no-repeat center/contain;
            }
            .slogan{
                margin: 0 0 0 112px;
                color: #00c0cd;
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 2.43px;
            }
        }
        .help{
            color: #384352;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 2.43px;
            background-image: linear-gradient(to top, rgba(56, 67, 82, 0.3) 2px, transparent 2px);
        }
    }
}