.header-wrap{
    margin: auto;
    max-width: 1600px;
    background-color: #e7eaed;
    position: relative;
    z-index: 1;
    header{
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 50px;
        .logo{
            margin: 0 0 15px;
            width: 236px;
            height: 27px;
            background: url("../../images/logo-header.png") no-repeat center/contain;
        }
        .menu{
            display: flex;
            justify-content: space-between;
            > li{
                position: relative;
                display: flex;
                align-items: center;
                line-height: 38px;
                height: 38px;
                text-transform: uppercase;
                color: #384352;
                font-size: 14px;
                white-space: nowrap;
                > a{
                    height: 100%;
                    font-weight: 700;
                    letter-spacing: 1.89px;
                    transition: color 0.3s;
                    color: inherit;
                    &:hover{
                        color: #00c0cd;
                    }
                }
                &.current-page{
                    a{
                        color: #a0a5ac;
                    }
                }
                &.has-sub-menu{
                    > a{
                        padding: 0 29px 0 0;
                        &::after{
                            content: '';
                            position: absolute;
                            top: 13px;
                            right: 0;
                            border-top: 9px solid #384452;
                            border-right: 6px solid transparent;
                            border-left: 6px solid transparent;
                        }
                        &:hover{
                            &::after{
                                border-top: none;
                                border-bottom: 9px solid #00c0cd;
                            }
                        }
                    }
                }
                &.settings{
                    a{
                        &::before{
                            content: '';
                            display: inline-block;
                            background: url('../../images/settings-icon.png') no-repeat center/contain;
                            width: 24px;
                            height: 24px;
                            vertical-align: middle;
                            margin: 0 9px 0 0;
                        }
                    }
                }
                &.user{
                    .icon{
                        border-radius: 50%;
                        vertical-align: top;
                        margin: 0 8px 0 0;
                    }
                    .name{
                        text-decoration: underline;
                    }
                }
                &:nth-child(n+2){
                    margin: 0 0 0 60px;
                }
                .sub-menu{
                    position: absolute;
                    opacity: 0;
                    visibility: hidden;
                    transition-property: opacity, visibility;
                    transition-duration: 0.4s;
                    top: 100%;
                    left: 0;
                    padding: 5px 24px 9px;
                    border-radius: 10px;
                    background-color: rgb(255, 255, 255);
                    box-shadow: 0 11px 18px 0 rgba(121, 127, 136, 0.22);
                    li{
                        margin: 9px 0;
                        a{
                            color: inherit;
                            &:hover{
                                font-weight: 700;
                            }
                        }
                    }
                }
                &:hover{
                    .sub-menu{
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media (max-width: 1550px){
    .header-wrap{
        header{
            .logo{
                background-image: url("../../images/logo-header-min.png");
                width: 55px;
                height: 24px;
                margin: 0 0 18px;
            }
        }
    }
}
@media (max-width: 1350px){
    .header-wrap{
        header{
            padding: 0 30px;

        }
    }
}