#page-login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 225px 100px 144px;
    color: #ffffff;
    background: url("../../images/page-login/bg.jpg") center/cover;
    margin: auto;
    max-width: 1600px;
    .page-title{
        font-size: 66px;
        text-transform: uppercase;
        letter-spacing: 4.85px;
    }
    .login-form{
        width: 376px;
        .title{
            font-size: 36px;
            text-transform: uppercase;
            letter-spacing: 4.85px;
        }
        .description{
            margin: 20px 0 24px;
            font-size: 16px;
            line-height: 22px;
        }
        input[type="password"]{
            margin: 11px 0 13px;
        }
        .login-btn{
            width: 186px;
            height: 52px;
            border-radius: 5px;
            background-color: #384352;
            color: #ffffff;
            font-family: @opensans;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 4.05px;
            border: none;
        }
    }
}