<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container, 
    see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html#d4e194 -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <description>Tracking for containers</description>
    <display-name>Tracking for containers</display-name>

    <listener>
        <listener-class>
            com.tmw.tracking.web.TrackingContextListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.tmw.tracking.utils.ApplicationInitialization</listener-class>
    </listener>
    <filter>
        <filter-name>shiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>
    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>com.tmw.tracking.web.hibernate.CharacterEncodingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/webresources/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>shiroFilter</filter-name>
        <url-pattern>/tmw/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/webresources/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/tmw/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/webresources/*</url-pattern>
    </filter-mapping>

    <!--
     NOTE: uncomment for applying only https requests
-->
   <!--  <security-constraint>
      <web-resource-collection>
         <web-resource-name>SessionTest</web-resource-name>
         <url-pattern>/*</url-pattern>
      </web-resource-collection>
      <user-data-constraint>
         <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint>
    </security-constraint>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>-->



</web-app>
