.footer-wrap{
    line-height: 24px;
    padding: 0 20px 20px;
    footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1560px;
        margin: auto;
        padding: 19px 58px 19px 32px;
        letter-spacing: 0.025em;
        font-size: 12px;
        a{
            color: inherit;
            transition: color 0.2s;
        }
        .logo{
            display: block;
            background-image: data-uri('../../images/logo-footer.png');
            width: 217px;
            height: 30px;
        }
        .copy{
            margin: 8px 0 0;
        }
        .address{
            position: relative;
            margin: 12px 0 0;
            padding: 0 0 0 17px;
            .map-marker-icon{
                position: absolute;
                top: 6px;
                left: 0;
                width: 9px;
            }
        }
        .contacts{
            margin: 12px 0 0;
            padding: 0 0 0 17px;
            a{
                position: relative;
                display: inline-block;
                .icon{
                    position: absolute;
                    top: 6px;
                    left: -17px;
                    width: 11px;
                }
            }
            .mail{
                text-decoration: underline;
            }
        }
        .mart{
            display: inline-block;
            margin: 12px 0 0;
            span{
                text-decoration: underline;
            }
        }
    }
}